@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Universidad Estatal a Distancia.
    </h1>
    <h1>  Curso: Programación Avanzada Web </h1>
    <h1>        Tarea 2.    </h1>

</div>